.env
__pycache__/
logs/
plugins/
data/processed/*
data/raw/*
!data/processed/.gitkeep
!data/raw/.gitkeep
producer/*
!producer/sensor_simulator.py
spark/*
!spark/silver_stream.py
!spark/gold_stream.py
